*.class

#*.jar
*.war
*.ear
*.orig

#maven
target/

#eclipse
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file 临时文件
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db
src/main/resources/db.properties
src/main/resources/db.properties
